
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 400%;
    color: #f3f0f0;
    margin: 10px 0 0 0;
    padding-top: 20px;
    text-align:center;
}

header h2 {
    font-family: "Roboto", sans-serif;
    font-size: 250%;
    color:#dbd4d4;
    text-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 10px 0 0 0;
    text-align: center;
    padding-bottom: 5px;
}

#header-background {
    width: 100%;
    margin-top: 0px;
}

nav ul {
    width: 100%;
    padding: 1em 0;
    list-style-type:none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

nav ul li {
    width: 5%;
    padding: 0 1.5em;
    display: inline;
    margin-bottom: .5em;
}

nav ul li a {
    font-weight: bold;
    text-align:center;
    text-decoration: none;
}

nav a:hover {
    width: 100%;
    color: black;
}

#wrapper {
    border-style: solid;
    background-color: aliceblue;
    border-width: 3px;
    font-size: 100%;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 0 3px black;      
    text-align: center;
    margin: auto;

}

html, body {
margin: 0;
}


body {
    width: 100%;
    /*Image by rawpixel.com on Freepik</a>*/
    background: grey url("clouds.png") repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
    /*max-width: 2400px;*/
    font-family: "Roboto", sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.login-page{
    width: 360px;
    padding: 8% 0 0;
    margin:auto;
}

.form{
    position:relative;
    z-index:1;
    background: #FFFFFF;
    max-width: 460px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: rgb(247, 243, 243);
    width: 100%;
    margin: 0 0 10px;
    padding: 0 0 5px;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: pink;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.form button:hover, .form button:active, .form button:focus {
    background:  rgb(247, 243, 243);
}

.form .message{
    margin: 15px 0 0;
    color: rgb(34, 34, 37);
    font-size: 12px;
}

.form .message a{
    color: rgb(170, 14, 14);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.form .register-form {
    display: none;
}








